/* Active class for navbar */
.active-nav {
    color:white !important;
    background-color: #5BBA47;
  }
  
  /*footer*/
  footer .footer-bottom {
    bottom:0;
    position:fixed;
  }
  
  
  /*END of Table CSS*/
      tr {
          box-sizing: border-box;
          padding: 10px;
          /* zoom: 1; */
          border-radius: 1.5rem;
          /* box-shadow: 0 3px 5px 0 #ccc; */
          min-height: 18rem;
          border: 1px solid #000;
      }
  
      /**/
      thead {
          display: none;
      }
      tr {
          display: block;
          margin-bottom: 1.5rem;
          padding: 1rem 0.5rem 0.5rem 1rem;
          background-color: transparentize( white, 0.15 );
          /* box-shadow: 0 0 1rem transparentize( black, 0.9 ); */
      }
      td {
          display: inline-block;
          margin: 0 0.5rem 0.5rem 0;
          padding: 0.5rem;
          text-align: left;
          background-color: white;
          border: 1px solid transparentize( #5BBA47, 0.5 );
      }
      td:before {
          float: left;
          margin: -0.5rem 0.5rem -0.5rem -0.5rem;
          padding: 0.625rem 0.5rem 0.625rem;
          font-size: 0.85em;
          font-weight: bold;
          background: transparentize( #5BBA47, 0.9 );
          color: #5BBA47;
      }
      .table-fluid td {
          vertical-align: top;
          word-break: break-all;
          padding-left: 13rem!important;
          width: 100%!important;
      }
      /* td:nth-child(1):before {
          content: "DOCTOR: ";
          
          content: attr(data-th);
          font-weight: 700;
          display: inline-block;
          width: 12rem;
          margin-left: -12rem;
          float: left;
          padding-right: 1rem;
          word-break: normal;
      } */
  
      td:nth-child(1) {
          color: #0f4b90 !important;
          font-size: 24px;
          font-weight: 600;
          padding-bottom: 0px !important;
          margin-bottom: 0px !important;
          width: 50% !important;
      }
      td:nth-child(2) {
          padding-top: 0px !important;
          margin-top: 0px !important;
          font-style: italic !important;
      }
          
      /* td:nth-child(2):before {
          content: "DEPARTMENT: ";
          
  
          content: attr(data-th);
          font-weight: 700;
          display: inline-block;
          width: 12rem;
          margin-left: -12rem;
          float: left;
          padding-right: 1rem;
          word-break: normal;
      } */
      /* td:nth-child(3):before {
          content: "HOSPITAL: ";
          
  
          content: attr(data-th);
          font-weight: 700;
          display: inline-block;
          width: 12rem;
          margin-left: -12rem;
          float: left;
          padding-right: 1rem;
          word-break: normal;
      } */
  
      .table>thead>tr>th, .table>thead>tr>td, .table>tbody>tr>th, .table>tbody>tr>td, .table>tfoot>tr>th, .table>tfoot>tr>td {
          border-top: 0 !important;
      }
  
      .book-doctor-container {
          text-align: right;
      }
  
      .table-striped>tbody>tr:nth-of-type(odd) {
        background-color: white;
      }
  
  a.details-link.has-tooltip {
    color: #0f4b90 !important;
  }
  a.details-link.has-tooltip:hover{
    text-decoration: none !important;
  }
  
  
  /*END of table CSS*/