* {
  font-family: "Open Sans";
}
.grid-actions {
     border-bottom: 0 solid white; 
}
.panel {
  border: 0 solid white; 
}
.panel-body {
  padding-left: 0;
  padding-right: 0;
}
.red-color {
color:red;
padding-left:10px;
}
/*disabled button*/
.disabled {
  background-color: #dddddd !important;
  color: gray !important;
}
.entitylist-search {
    width: 100%;
}

.btn-primary:hover {
  border-color: white !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color:white;
}

/* media queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .entitylist-filter-option-text {
    width: 100%;
  }
  .red-color {
    color:red;
    padding-left:0;
  }
  .clearfilter {
    display: none;
  }
  tr {
    font-size: 13px;
    box-sizing: border-box;
    padding: 10px;
    /* zoom: 1; */
    border-radius: 1.5rem;
    /* box-shadow: 0 3px 5px 0 #ccc; */
    min-height: 18rem;
    border: 1px solid #000;
    transition: transform .2s; /* Animation */
    display: block;
    margin-bottom: 1.5rem;
    padding: 1rem 0.5rem 0.5rem 1rem;
    background-color:white;
    border-color: #ccc;
  }
  thead {
      display: none;
  }
  
  .entity-grid .message {
       display: none !important; 
  }
  td {
      display: inline-block;
      margin: 0 0.5rem 0.5rem 0;
      padding: 0.5rem;
      text-align: left;
      background-color: white;
      /*border: 1px solid transparentize( #5BBA47, 0.5 );*/
  }
  .table>thead>tr>th, .table>thead>tr>td, .table>tbody>tr>th, .table>tbody>tr>td, .table>tfoot>tr>th, .table>tfoot>tr>td {
    border-top:0px solid white;
  }
  .table-fluid td:before {
    color: #5BBA47;
  }
  
  .btn-primary {
    color: white !important;
    background-color: #5BBA47;
    border-color: white !important;
    border-radius: 5px !important;
    width: 90%;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  /*disabled button*/
  .disabled {
    background-color: #dddddd !important;
    color: gray !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 799px){
  .entitylist-filter-option-text {
    width: 100%;
  }
  .red-color {
    color:red;
    padding-left:0;
  }
  .clearfilter {
    display: none;
  }
  tr {
    font-size: 13px;
    box-sizing: border-box;
    padding: 10px;
    /* zoom: 1; */
    border-radius: 1.5rem;
    /* box-shadow: 0 3px 5px 0 #ccc; */
    min-height: 18rem;
    border: 1px solid #000;
    transition: transform .2s; /* Animation */
    display: block;
    margin-bottom: 1.5rem;
    padding: 1rem 0.5rem 0.5rem 1rem;
    background-color:white;
    border-color: #ccc;
  }
  thead {
      display: none;
  }
  
  .entity-grid .message {
       display: none !important; 
  }
  td {
      display: inline-block;
      margin: 0 0.5rem 0.5rem 0;
      padding: 0.5rem;
      text-align: left;
      background-color: white;
      /*border: 1px solid transparentize( #5BBA47, 0.5 );*/
  }
  .table>thead>tr>th, .table>thead>tr>td, .table>tbody>tr>th, .table>tbody>tr>td, .table>tfoot>tr>th, .table>tfoot>tr>td {
    border-top:0px solid white;
  }
  .table-fluid td:before {
    color: #5BBA47;
  }
  
  .btn-primary {
    color: white !important;
    background-color: #5BBA47;
    border-color: white !important;
    border-radius: 5px !important;
    width: 35%;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  /*disabled button*/
  .disabled {
    background-color: #dddddd !important;
    color: gray !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 769px) and (max-width: 1199px) {
  * {
    font-size: 13px !important;
  }
  .entitylist-filter-option-text {
    width: 423px;
  }
  tr {
    box-sizing: border-box;
    padding: 10px;
    /* zoom: 1; */
    border-radius: 1.5rem;
    /* box-shadow: 0 3px 5px 0 #ccc; */
    min-height: 10rem;
    border: 1px solid #000;
    transition: transform .2s; /* Animation */
    display: block;
    margin-bottom: 1.5rem;
    padding: 1rem 0.5rem 0.5rem 1rem;
    background-color:white;
    border-color: #ccc;
    width: 96%;
    margin-left: 14px;
    margin-top: 5px;
  }
  thead tr {
      box-sizing: unset;
      border: none;
      margin-bottom: 0;
      min-height: 0;
  }
  
  .entity-grid .message {
       display: none !important; 
  }

  td {
      display: inline-block;
      margin: 0 0.5rem 0.5rem 0;
      padding: 0.5rem;
      text-align: left;
      background-color: white;
      /*border: 1px solid transparentize( #5BBA47, 0.5 );*/
  }
    .table>thead>tr>th, .table>thead>tr>td, .table>tbody>tr>th, .table>tbody>tr>td, .table>tfoot>tr>th, .table>tfoot>tr>td {
    border-top:0px solid white;
  }
    tr::after {
    z-index: -1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  tr:hover {
    box-shadow: 0 6px 3px rgba(0, 0, 0, 0.3);
    transform: scale(1.02, 1.02);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
  }
  
  tr:hover::after {
      opacity: 1;
  }
  
  thead tr {
    /* display: none; */
      box-sizing: unset;
      /* border: 1px solid #ccc; */
      margin-bottom: 0;
      min-height: 0;
      /* border-radius: 5px; */
      width: 75%;
      /* margin-left: 6%; */
  }
  
  thead tr:hover {
    box-shadow: none;
    transform: none;
    -webkit-transition: none;
    transition: none;
  }
  .table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: none;
}
  th a:hover {
    text-decoration: none;
  }

  th:nth-child(1){
    width: 20% !important;
  }
  th:nth-child(2) {
    width: 17% !important;
  }
  th:nth-child(3) {
    width: 31% !important;
  }
  th:nth-child(4), th:nth-child(5){
    display: none !important;
  }
  
  /*td*/
  /* 1 - Main Column (Doctor)*/
    td:nth-child(1) { 
        color: #0f4b90 !important;
        font-weight: 600;
        padding-bottom: 0px !important;
        margin-bottom: 0px !important;
        width: 17% !important;
    }
/* 2 - Specialization */
    td:nth-child(2) {
        width: 13% !important;
        font-style: italic !important;
    }
/*3 - Hospital */
    td:nth-child(3) {
      width: 25% !important;
      /*float: left;*/
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
    }
  /* 4 - F2F */
  td:nth-child(4) {
    width: 20% !important;
  }
  /* 5 - E-Consultation */
  td:nth-child(5) {
    width: 20% !important;
  }

  .btn-primary {
    height: 44px;
    width: 90%;
    border-radius: 5px;
    padding: 10px;
    border-color: white !important;
  }
  .clearfilter {
    height: 39px;
    width: 7%;
    /* padding: 10px; */
    border-color: white !important;
    text-align: center;
    float: right;
    margin-top: 41px;
  }
  /*disabled button*/
  .disabled {
    background-color: #dddddd !important;
    color: gray !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .entitylist-filter-option-text {
    width: 518px;
  }
  tr {
    box-sizing: border-box;
    padding: 10px;
    /* zoom: 1; */
    border-radius: 1.5rem;
    /* box-shadow: 0 3px 5px 0 #ccc; */
    min-height: 10rem;
    border: 1px solid #000;
    transition: transform .2s; /* Animation */
    display: block;
    margin-bottom: 1.5rem;
    padding: 1rem 0.5rem 0.5rem 1rem;
    background-color:white;
    border-color: #ccc;
    width: 98%;
    margin-left: 11px;
    margin-top: 5px;
  }
  thead tr {
      box-sizing: unset;
      border: none;
      margin-bottom: 0;
      min-height: 0;
  }
  
  .entity-grid .message {
       display: none !important; 
  }

  td {
      display: inline-block;
      margin: 0 0.5rem 0.5rem 0;
      padding: 0.5rem;
      text-align: left;
      background-color: white;
      /*border: 1px solid transparentize( #5BBA47, 0.5 );*/
  }
    .table>thead>tr>th, .table>thead>tr>td, .table>tbody>tr>th, .table>tbody>tr>td, .table>tfoot>tr>th, .table>tfoot>tr>td {
    border-top:0px solid white;
  }
    tr::after {
    z-index: -1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  tr:hover {
    box-shadow: 0 6px 3px rgba(0, 0, 0, 0.3);
    transform: scale(1.02, 1.02);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
  }
  
  tr:hover::after {
      opacity: 1;
  }
  
  thead tr {
    /* display: none; */
      box-sizing: unset;
      /* border: 1px solid #ccc; */
      margin-bottom: 0;
      min-height: 0;
      /* border-radius: 5px; */
      width: 75%;
      /* margin-left: 6%; */
  }
  
  thead tr:hover {
    box-shadow: none;
    transform: none;
    -webkit-transition: none;
    transition: none;
  }
  .table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: none;
}
  th a:hover {
    text-decoration: none;
  }

  th:nth-child(1){
    width: 20% !important;
  }
  th:nth-child(2) {
    width: 17% !important;
  }
  th:nth-child(3) {
    width: 31% !important;
  }
  th:nth-child(4), th:nth-child(5){
    display: none !important;
  }
  
  /*td*/
  /* 1 - Main Column (Doctor)*/
    td:nth-child(1) { 
        color: #0f4b90 !important;
        font-weight: 600;
        padding-bottom: 0px !important;
        margin-bottom: 0px !important;
        width: 17% !important;
    }
/* 2 - Specialization */
    td:nth-child(2) {
        width: 13% !important;
        font-style: italic !important;
    }
/*3 - Hospital */
    td:nth-child(3) {
      width: 25% !important;
      /*float: left;*/
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
    }
  /* 4 - F2F */
  td:nth-child(4) {
    width: 21% !important;
  }
  /* 5 - E-Consultation */
  td:nth-child(5) {
    width: 21% !important;
  }

  .btn-primary {
    height: 44px;
    /* width: 90%; */
    border-radius: 5px;
    padding: 10px;
    border-color: white !important;
  }
  .clearfilter {
    height: 39px;
    width: 7%;
    /* padding: 10px; */
    border-color: white !important;
    text-align: center;
    float: right;
    margin-top: 41px;
  }
  /*disabled button*/
  .disabled {
    background-color: #dddddd !important;
    color: gray !important;
  }
}