<section>
  <div class="container" style="margin-bottom: 20vh;">
      <div class="page-heading">
          {% block breadcrumbs %}
              {% include 'Breadcrumbs' %}
          {% endblock %}
          {% block title %}
              {% include 'Page Header' %}
          {% endblock %}
      </div>
      <!-- START ABOUT US --> 
      <div class="page-heading">
          <h1>
              <span>About Us</span>
          </h1>
          <br>
          <br>
      </div>
      <div class="row">
              <img class="aboutus-image" src="../groupofpeople.jpg" alt="groupofpeople">
          <div class="col-md-10 col-md-offset-1" style="padding: 0 15px;">
              <div id="main-block-wrapper">
                  <div class="col-md-12">
                      {% block main %}
      
                      {% include 'Page Copy' | liquid %}
      <!--
                      {% if page.adx_entitylist %}
                          {% include 'entity_list' key:page.adx_entitylist.id %}
                      {% endif %}
      
                      {% if page.adx_entityform %}
                          {% entityform id: page.adx_entityform.id %}
                      {% endif %}
      
                      {% if page.adx_webform %}
                          {% webform id: page.adx_webform.id %}
                      {% endif %}
      -->
                      
                  {% endblock %}

                  <p class="page-caption">From its first investment in Makati Medical Center in 2007, Metro Pacific Hospital Holdings Inc. has since grown to be the largest private
                  hospital group in the Philippines
                  <br>
                  <br>
                  It has a portfolio of 18 hospitals in Luzon, Visayas, and Mindanao, with a combined authorized bed capacity of 3,600 beds.
                  Its hospitals include the premier tertiary hospital names in the industry, if not the leading and largest hospital in the city.
                  <br>
                  <br>
                  In addition, It is invested in allied health colleges, a growing network of primary care centers and cancer care centers, and a central
                  clinical laboratory.</p>
                  </div>
              </div>
          </div>
      </div>
      <!-- END ABOUT US --> 
      <!-- START OUR HOSPITALS --> 
      <div class="ourHospitalsSection">
          <div class="page-heading ourhospitals-header">
              <h1>
                  <span class="xrm-attribute xrm-editable-text"><span class="xrm-attribute-value">Our Hospitals</span></span>
              </h1>
          </div>
          <p class="page-caption">Metro Pacific Hospital Holdings Inc.(MPHHI) is the largest private hospital group in the Philippines, with investments in a nationwide chain of 18 hospitals
          with a combined authorized bed capacity of approximately 3,600, serving an estimated 3.5 million patients annually. In addition,
          It is invested in a network of cancer care centers, primary care clinics, healthcare colleges and a central clinical laboratory.</p>
          <div class="row" style="margin-bottom: 0px;  background-color:#f3f3f3;  " >
              <div class="col-md-10 col-md-offset-1" style="padding: 0 15px;">
                      <div class="col-md-3">
                      <img class="fullwidth" src="../staelizabethLogo.jpg" alt="Santa Elizabeth Hospital">
                      </div>
                      <div class="col-md-3">
                      <img class="fullwidth" src="../marikinavalleyLogo.jpg" alt="Marikina Valley Hospital">
                      </div>
                      <div class="col-md-3">
                      <img class="fullwidth" src="../delosantosLogo.jpg" alt="De Los Santos Medical Center">
                      </div>
                      <div class="col-md-3">
                      <img class="fullwidth" src="../losBanosDoctorsLogo.jpg" alt="Los Banos Hospital">
                      </div>
              </div>
          </div>
          <div class="row" style="margin-bottom: 0px;  background-color: #f3f3f3;  " >
          <div class="col-md-10 col-md-offset-1" style="padding: 0 15px;">
                  <div class="col-md-3">
                      <img class="fullwidth" src="../pabloToreLogo.jpg" alt="Pablo Tore Hospital">
                  </div>
                  <div class="col-md-3">
                      <img class="fullwidth" src="../ourladyLogo.jpg" alt="Our Lady of Lourdes Hospital">
                  </div>
                  <div class="col-md-3">
                      <img class="fullwidth" src="../manuelSantosLogo.jpg" alt="Manuel Santos Hospital">
                  </div>
                  <div class="col-md-3">
                      <img class="fullwidth" src="../cldhLogo.jpg" alt="CLDH Hospital">
                  </div>
          </div>
      </div>
      <div class="row" style="margin-bottom: 0px;  background-color: #f3f3f3;  " >
          <div class="col-md-10 col-md-offset-1" style="padding: 0 15px;">
                  <div class="col-md-3">
                  <img class="fullwidth" src="../riversideLogo.jpg" alt="Riverside Hospital">
                  </div>
                  <div class="col-md-3">
                  <img class="fullwidth" src="../makatiMedLogo.jpg" alt="Makati Med Hospital">
                  </div>
                  <div class="col-md-3">
                  <img class="fullwidth" src="../centralLuzonLogo.jpg" alt="Central Luzon Hospital">
                  </div>
                  <div class="col-md-3">
                  <img class="fullwidth" src="../sacredHeartLogo.jpg" alt="Sacred Heart Hospital">
                  </div>
          </div>
      </div>
      <div class="row" style="margin-bottom: 0px;  background-color: #f3f3f3;  " >
      <div class="col-md-10 col-md-offset-1" style="padding: 0 15px;">
              <div class="col-md-4">
                  <img class="fullwidth" src="../asianHospitalLogo.jpg" alt="Asian Hospital">
              </div>
              <div class="col-md-4">
                  <img class="fullwidth" src="../manilaDoctorsLogo.jpg" alt="Manila Doctors Hospital">
              </div>
              <div class="col-md-4">
                  <img class="fullwidth" src="../cardinalSantos.jpg" alt="Cardinal Santos Hospital">
          </div>
      </div>
  </div>
  <div class="row" style="margin-bottom: 0px;  background-color:#f3f3f3; " >
      <div class="col-md-10 col-md-offset-1" style="padding: 0 15px;">
              <div class="col-md-4">
              <img class="fullwidth" src="../drJesusLogo.jpg" alt="Dr Jesus Delgado Hospital">
              </div>
              <div class="col-md-4">
              <img class="fullwidth" src="../cmcLogo.jpg" alt="CMC Hospital">
              </div>
              <div class="col-md-4">
              <img class="fullwidth" src="../ramiroLogo.jpg" alt="Ramiro Community Hospital">
          </div>
      </div>
  </div>
  <!-- END OUR HOSPITALS --> 
</div>
</div>
</section>