<div class="container">
  <div class="page-heading">
      {% block breadcrumbs %}
          {% include 'Breadcrumbs' %}
      {% endblock %}
      {% block title %}
          {% include 'Page Header' %}
      {% endblock %}
  </div>
  <!-- START ABOUT US --> 
  <div class="page-heading">
      <h1>
          <span>Contact Us</span>
      </h1>
      <br>
      <br>
  </div>
  <div class="row" style="" >
      <div class="col-md-10 col-md-offset-1" style="padding: 0 15px;">
          <div id="main-block-wrapper">
              <div class="col-md-12 decrease-margin-top">
              <br>
              <br>
              <p class="page-caption">Metro Pacific Hospital Holdings Inc, (MPHHI) is the largest private hospital group in the Philippines,
              with investments in a nation wide chain of 18 hospitals with a combined authorized bed capacity of approximately 3,600,
              serving an estimated 3.5 million patients annually. In addition, It is invested in a network of cancer care centers,
              primary care clinics, healthcare colleges and a central clinical laboratory.</p>
              </div>
          </div>
      </div>
  </div>
</div>
<br>
<br>
  <!-- END ABOUT US --> 

  
  <!-- START OUR HOSPITALS --> 
  <div class="container-fluid ourhospital-bg">
    <div class="ourHospitalsSection">
        <div class="row" style="margin-bottom: 0px; " >
            <div class="col-md-10 col-md-offset-1" style="padding: 0 15px;">
                    <div class="col-md-3">
                      <a href="https://sehi.ph/"><img class="fullwidth" src="../staelizabethLogo-white.jpg" alt="Santa Elizabeth Hospital"></a>
                    </div>
                    <div class="col-md-3">
                      <a href="https://www.marikinavalleymedicalcenter.com/"><img class="fullwidth" src="../marikinavalleyLogo-white.jpg" alt="Marikina Valley Hospital"></a>
                    </div>
                    <div class="col-md-3">
                      <a href="https://delossantosmed.ph/"><img class="fullwidth" src="../delosantosLogo-white.jpg" alt="De Los Santos Medical Center"></a>
                    </div>
                    <div class="col-md-3">
                      <a href="https://www.lbdhmconline.com/"><img class="fullwidth" src="../losBanosDoctorsLogo-white.jpg" alt="Los Banos Hospital"></a>
                    </div>
            </div>
        </div>
        <br>
        <div class="row" style="margin-bottom: 0px;  " >
        <div class="col-md-10 col-md-offset-1" style="padding: 0 15px;">
                <div class="col-md-3">
                  <a href="#"><img class="fullwidth" src="../pabloToreLogo-white.jpg" alt="Pablo Tore Hospital"></a>
                </div>
                <div class="col-md-3">
                  <a href="https://ollh-manila.com/"><img class="fullwidth" src="../ourladyLogo-white.jpg" alt="Our Lady of Lourdes Hospital"></a>
                </div>
                <div class="col-md-3">
                  <a href="https://www.mjsantos.com.ph/"><img class="fullwidth" src="../manuelSantosLogo-white.jpg" alt="Manuel Santos Hospital"></a>
                </div>
                <div class="col-md-3">
                  <a href="https://www.maniladoctors.com.ph/"><img class="fullwidth" src="../manilaDoctorsLogo-white.jpg" alt="Manila Doctors Hospital"></a>
                </div>
        </div>
    </div>
    <br>
    <div class="row" style="margin-bottom: 0px; " >
        <div class="col-md-10 col-md-offset-1" style="padding: 0 15px;">
                <div class="col-md-3">
                  <a href="https://www.rivermedcenter.net/"><img class="fullwidth" src="../riversideLogo-white.jpg" alt="Riverside Hospital"></a>
                </div>
                <div class="col-md-3">
                  <a href="https://www.makatimed.net.ph/"><img class="fullwidth" src="../makatiMedLogo-white.jpg" alt="Makati Med Hospital"></a>
                </div>
                <div class="col-md-3">
                  <a href="https://www.cldhei.edu.ph/"><img class="fullwidth" src="../centralLuzonLogo-white.jpg" alt="Central Luzon Hospital"></a>
                </div>
                <div class="col-md-3">
                  <a href="https://sacredheartmalolos.com/"><img class="fullwidth" src="../sacredHeartLogo-white.jpg" alt="Sacred Heart Hospital"></a>
                </div>
        </div>
    </div>
    <br>
    <div class="row" style="margin-bottom: 0px; " >
    <div class="col-md-10 col-md-offset-1" style="padding: 0 15px;">
            <div class="col-md-4">
              <a href="https://www.asianhospital.com/"><img class="fullwidth" src="../asianHospitalLogo-white.jpg" alt="Asian Hospital"></a>
            </div>
            <div class="col-md-4">
              <a href="https://www.ddh.com.ph/"><img class="fullwidth" src="../cldhLogo-white.jpg" alt="Davao Doctors Hospital"></a>
            </div>
            <div class="col-md-4">
              <a href="https://cardinalsantos.com.ph/"><img class="fullwidth" src="../cardinalSantos-white.jpg" alt="Cardinal Santos Hospital"></a>
        </div>
    </div>
</div>
<br>
<div class="row" style="margin-bottom: 0px;" >
    <div class="col-md-10 col-md-offset-1" style="padding: 0 15px;">
            <div class="col-md-4">
              <a href="https://delgadohospital.ph/"><img class="fullwidth" src="../drJesusLogo-white.jpg" alt="Dr Jesus Delgado Hospital"></a>
            </div>
            <div class="col-md-4">
              <a href="https://cmc.ph/"><img class="fullwidth" src="../cmcLogo-white.jpg" alt="CMC Hospital"></a>
            </div>
            <div class="col-md-4">
              <a href="https://ramiromedical.ph/"><img class="fullwidth" src="../ramiroLogo-white.jpg" alt="Ramiro Community Hospital"></a>
        </div>
    </div>
</div>
<!-- END OUR HOSPITALS --> 
</div>
</div>

