<head>
    <script src="https://kit.fontawesome.com/800ee6d02c.js" crossorigin="anonymous"></script>
    <style>
        .sticky {
            /* position: sticky;
            top: 0; */
        }
        .dropdown-menu .divider {
            display: none;
        }
        .horizontal-line hr {
          margin-top: 0;
          margin-bottom: 0;
          border: solid 3px;
          border-color: #5BBA47;
          }
          button.navbar-toggle.collapsed, button.navbar-toggle.collapsed:focus, button.navbar-toggle.collapsed:active{
            background-color: white;
            border: none;
            font-size: 25px;
            color: #5BBA47;
        }
        .navbar-inverse .navbar-toggle {
            font-size: 25px !important;
            color: #5BBA47 !important;
        }
      </style>
    <head>
      {% assign defaultlang = settings['LanguageLocale/Code'] | default: 'en-us' %}
      {% assign homeurl = website.adx_partialurl %}
      <div class="navbar navbar-inverse navbar-static-top sticky" role="navigation">
        <div class="container">
            <div class="navbar-header">
                
                <!--div class="visible-xs-block">
                  {% editable snippets 'Mobile Header' type: 'html' %}
                </div-->
                <div class="visible-sm-block visible-md-block visible-lg-block visible-xs-block navbar-brand">
                   <a href="/"> {% editable snippets 'Mobile Header' type: 'html' %} </a>
                </div>
                <button type="button" class="navbar-toggle collapsed" title="{{ snippets['Header/Toggle Navigation'] | default: resx['Toggle_Navigation'] | h }}" data-toggle="collapse" data-target="#navbar" aria-expanded="false" onclick="setHeight();">
                    <span class="sr-only">{{ snippets["Header/Toggle Navigation"] | default: resx['Toggle_Navigation'] | h }}</span>
                    <!-- <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> -->
                    <!--<span class="glyphicon glyphicon-align-left"></span>-->
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                {% assign primary_nav = weblinks["Primary Navigation"] %}
                {% if primary_nav %}
                <div class="navbar-right menu-bar {% if primary_nav.editable %}xrm-entity xrm-editable-adx_weblinkset{% endif %}" data-weblinks-maxdepth="2">
                    <ul class="nav navbar-nav weblinks" role="menubar">
                        {% for link in primary_nav.weblinks %}
                        {% unless forloop.first %}
                        <li class="divider-vertical" aria-hidden="true"></li>
                        {% endunless %}
                        {% if link.display_page_child_links %}
                        {% if link.url != null %}
                        {% assign sublinks = sitemap[link.url].children %}
                        {% endif %}
                        {% else %}
                        {% assign sublinks = link.weblinks %}
                        {% endif %}
                        <li role="none" class="weblink {% if sublinks.size > 0 %} dropdown{% endif %}">
                            <a role="menuitem" aria-label="{{ link.name | escape }}" {% if sublinks.size > 0 -%} href="#" class="dropdown-toggle" data-toggle="dropdown" {%- else -%} href="{{ link.url | escape }}" {%- endif -%} {%- if link.Open_In_New_Window %} target="_blank" {% endif -%} {%- if link.nofollow %} rel="nofollow" {% endif -%} {%- if link.tooltip %} title="{{ link.tooltip | escape }}" {% endif %}>
                                {%- if link.image -%}
                                {%- if link.image.url  -%}
                                {%- if link.image.url.first == '.' -%}
                                <span class="{{ link.image.url | split:'.' | join }}" aria-hidden="true"></span>
                                {%- endif -%}
                                {%- else -%}
                                <img src="{{ link.image.url | escape }}" alt="{{ link.image.alternate_text | default:link.tooltip | escape }}" {% if link.image.width %}width="{{ link.image.width | escape }}" {% endif %} {% if link.image.height %}height="{{ link.image.height | escape }}" {% endif %} />
                                {%- endif -%}
                                {%- endif -%}
                                {%- unless link.display_image_only -%}
                                {{ link.name | escape }}
                                {%- endunless -%}
                                {%- if sublinks.size > 0 -%}
                                <span class="caret"></span>
                                {%- endif -%}
                            </a>
                            {% if sublinks.size > 0 %}
                            <ul class="dropdown-menu" role="menu">
                                {% if link.name %}
                                <li role="none">
                                    <a role="menuitem" aria-label="{{ link.name | escape }}" href="{{ link.url }}" {% if link.Open_In_New_Window %} target="_blank" {% endif %} {% if link.nofollow %}rel="nofollow" {% endif %} {% if link.tooltip %}title="{{ link.tooltip | escape }}" {% endif %}>{{ link.name | escape }}</a>
                                </li>
                                <div class="divider"></div>
                                {% endif %}
                                {% for sublink in sublinks %}
                                <li role="none">
                                    <a role="menuitem" aria-label="{{ sublink.name | default:sublink.title | escape }}" href="{{ sublink.url }}" {% if sublink.Open_In_New_Window %} target="_blank" {% endif %} {% if sublink.nofollow %}rel="nofollow" {% endif %} {% if sublink.tooltip %}title="{{ sublink.tooltip | escape }}" {% endif %}>
                                        {{ sublink.name | default:sublink.title | escape }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                        <!-- {% assign search_enabled = settings['Search/Enabled'] | boolean | default:true %}
                        {% if search_enabled %}
                        <li class="divider-vertical" aria-hidden="true"></li>
                        <li role="none" class="dropdown">
                            <a id="search" class="navbar-icon" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" aria-label="{{ snippets['Header/Search/ToolTip'] | default:resx['Search_DefaultText'] | escape }}">
                                <span class="glyphicon glyphicon-search"></a>
                            </a>
                            <div class="dropdown-menu dropdown-search">
                                {% include 'Search' search_id:'q' %}
                            </div>
                        </li>
                        {% endif %} -->
                        <li class="divider-vertical" aria-hidden="true"></li>
                        {% if website.languages.size > 1 %}
                        <li class="dropdown" role="none">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="menuitem" aria-label="{{ website.selected_language.name | escape }}" aria-haspopup="true" aria-expanded="false" title="{{ website.selected_language.name | escape }}">
                                <span class="drop_language">{{ website.selected_language.name | escape }}</span>
                                <span class="caret"></span>
                            </a>
                            {% include 'Languages Dropdown' %}
                        </li>
                        <li class="divider-vertical" aria-hidden="true"></li>
                        {% endif %}
                        {% if user %}
                        <li class="dropdown" role="none">
                            <!-- <a href="#" class="dropdown-toggle" title="{{ user.fullname | escape }}" data-toggle="dropdown" role="menuitem" aria-haspopup="true" aria-expanded="false"> -->
                                <!-- <span class="username">{{ user.fullname | escape }}</span> -->
                                <!-- <span class="caret"></span> -->
                            <a href="#" class="dropdown-toggle" title="Profile Management" data-toggle="dropdown" role="menuitem" aria-haspopup="true" aria-expanded="false">Profile Management <span class="caret"></span></a>
                                
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li role="none" class="">
                                    <a role="menuitem" aria-label="Manage My Profile" href="/profile/" title="Manage My Profile" aria-selected="true">Manage My Profile</a>
                                </li>
                                <li role="none">
                                    <a role="menuitem" aria-label="Manage My Dependents" href="/dependents/" title="Manage My Dependents">Manage My Dependents</a>
                                </li>
                                <!-- {% assign show_profile_nav = settings["Header/ShowAllProfileNavigationLinks"] | boolean | default:true %}
                                {% if show_profile_nav %}
                                {% assign profile_nav = weblinks["Profile Navigation"] %}
                                {% if profile_nav %}
                                {% for link in profile_nav.weblinks %}
                                <li role="none">
                                    <a role="menuitem" aria-label="{{ link.name | escape }}" href="{{ link.url | escape }}" title="{{ link.name | escape }}">{{ link.name | escape }}</a>
                                </li>
                                {% endfor %}
                                {% endif %}
                                {% else %}
                                <li role="none"><a role="menuitem" aria-label="{{ snippets['Profile Link Text'] | default:resx['Profile_Text'] | escape }}" href="{{ sitemarkers['Profile'].url | escape }}">{{ snippets["Profile Link Text"] | default:resx["Profile_Text"] | escape }}</a></li>
                                {% endif %}
                                <li class="divider" role="separator" aria-hidden="true"></li> -->
                                <!-- OOB SIgnout-->
                                <!-- END OF OOB Signout-->
                            </ul>
                        </li>
                        <!-- START Sign Out -->
                        <li role="none">
                            <a role="menuitem" aria-label="{{ snippets['links/logout'] | default:resx['Sign_Out'] | escape}}" href="{% if homeurl%}/{{ homeurl }}{% endif %}{{ website.sign_out_url_substitution }}" title="{{ snippets['links/logout'] | default:resx['Sign_Out'] | escape }}">
                                {{ snippets["links/logout"] | default:resx["Sign_Out"] | escape }}
                            </a>
                        </li>
                        <!-- END Sign Out -->
                        {% else %}
                        <li role="none" class="weblink  dropdown">
                            <a role="menuitem" aria-label="Services" href="#" class="dropdown-toggle" data-toggle="dropdown" title="Sign In" aria-haspopup="true" aria-expanded="false">
                                Sign In
                                <span class="caret"></span>
                            </a>
      
                            <ul class="dropdown-menu" role="menu">
                                <!-- options -->
                                <li role="none">
                                    <!-- 
                                    <a role="none" aria-label="Sign in as an Individual" href="https://mphhitrialportal.powerappsportals.com/SignIn?returnUrl=%2F&Username=individual">
                                        Sign in as an Individual
                                    </a> -->
                                    <!-- <a role="none" aria-label="Personal" href="{% if homeurl%}/{{ homeurl }}{% endif %}{{ website.sign_in_url_substitution }}">
                                        Personal
                                    </a> -->
                                    <!--
                                    <a role="none" aria-label="Sign in as an Individual" href="{% if homeurl%}/{{ homeurl }}{% endif %}{{ website.sign_in_url_substitution }}">
                                        Sign in as an Individual
                                    </a> -->
                                    <a role="none" aria-label="Sign in as an Individual" href="https://mphhi-dev-us.powerappsportals.com/SignIn?returnUrl=%2F">
                                        Sign in as an Individual
                                    </a>
                                </li>
                                
                                <li role="none">
                                    <!--
                                    <a role="none" aria-label="Corporate" href="{% if homeurl%}/{{ homeurl }}{% endif %}{{ website.sign_in_url_substitution }}">
                                        Sign in as Corporate
                                    </a> -->
                                    <a role="none" aria-label="Corporate" href="https://mphhi-dev-us.powerappsportals.com/SignIn?returnUrl=%2F">
                                        Sign in as Corporate
                                    </a>
                                </li>
                                
    
                                <!-- register -->
                                <li role="none">
                                    <a role="none" aria-label="Register" href="https://mphhi-dev-us.powerappsportals.com/registration">
                                        Register
                                    </a>
                                </li>
    
                                <!-- end options -->
                            </ul>
                        </li>
                        <!-- Commentout previous Sign In
                        <li role="none">
                            <a role="menuitem" aria-label="{{ snippets['links/login'] | default:resx['Sign_In'] | escape }}" href="{% if homeurl%}/{{ homeurl }}{% endif %}{{ website.sign_in_url_substitution }}">
                                {{ snippets["links/login"] | default:resx["Sign_In"] | escape }}
                            </a>
                        </li>
      
      
                        <a role="none" aria-label="Sign in" href="/SignIn?returnUrl=%2F" title="Sign in as an Individual" aria-selected="false">
                                        Sign in
                                    </a>
                        -->
                        {% endif %}
                    </ul>
                    {% editable primary_nav %}
                </div>
                {% endif %}
            </div>
        </div>
      </div>
    
        
    
      <div class="horizontal-line">
        <hr>
      </div>
      {% substitution %}
      {% assign current_page = page.id %}
      {% assign sr_page = sitemarkers["Search"].id %}
      {% assign forum_page = sitemarkers["Forums"].id %}
      {% if current_page %}
      {% if current_page == sr_page or current_page == forum_page %}
      {% assign section_class = "section-landing-search" %}
      {% if current_page == forum_page %}
      {% assign section_class = "section-landing-forums" %}
      {% endif %}
      <section class="page_section {{ section_class | h }} color-inverse">
        <div class="row sectionBlockLayout sectionFixedStyle" style="display: flex; flex-wrap: wrap; text-align: center; min-height: 420px; background: url('/Homehero.png') center / cover no-repeat; padding: 8px; margin: 0px;">
            <div class="container" style="display: flex; flex-wrap: wrap;">
                <div class="col-md-12 columnBlockLayout" style="display: flex; flex-direction: column; justify-content: center;">
                    {% if current_page == sr_page %}
                    <h1>{% editable snippets 'Search/Title' default: resx["Discover_Contoso"] %}</h1>
                    {% include 'Search' search_id:'search_control' %}
                    {% endif %}
                </div>
            </div>
        </div>
      </section>
      {% endif %}
      {% endif %}
      {% endsubstitution %}
      
      
      <script type="text/javascript">
      window.onload = function() {
        if (window.navigator.appName == "Microsoft Internet Explorer" || window.navigator.userAgent.indexOf("Trident") > 0) {
          var searchElement = document.getElementById("search");
          if (searchElement != null) searchElement.setAttribute("href", "");
        }
      };
      function setHeight() {
        var windowHeight = window.innerHeight - 140;
        var navbar = document.getElementById("navbar");
        if (navbar) {
          navbar.style.maxHeight = windowHeight + "px";
        }
      }
      window.addEventListener('resize', function(event) {
        setHeight();
      });
      </script>
      
      <script type="text/javascript">
      window.onload = function() {
          $('a[role="menuitem"][href="/access-denied/"]').hide(); //hide my appointments weblink
      };
      </script>
      <!--
      <script>
        $(document).ready(function(){
            //$('a[role="menuitem"][aria-label="Appointments"]').hide(); 
            $('a[role="menuitem"][href="/profile/profile-my-appointments/"]').hide(); //hide profile weblink
            $('a[role="menuitem"][href="/profile/profile-my-medical-histories/"]').hide(); //hide medical history weblink
            $('a[role="menuitem"][href="/my-appointments/"]').hide(); //hide my appointments weblink
            $('a[role="menuitem"][href="/dependents-appointments/"]').hide(); //hide dependents appointments weblink
            $('a[role="menuitem"][href="href="/guarantors/""]').hide(); //hide guarantors weblink
            // add active class when clicked
            
        });
      </script>
      -->
    
    
      {% if user | has_role:"Anonymous Users" %}
      <script>
        $('a[href="/corporate-appointments/"][role="menuitem"]').hide(); // hide corporate appointments in header 
      </script> 
    
    {% elsif user | has_role:"Authenticated Users" %}
    
      <script>
        $('a[href="/corporate-appointments/"][role="menuitem"]').hide(); // hide corporate appointments in header 
    
        
      </script> 
    
      {% elsif user | has_role:"Corporate Representative" %}
      <script>
        $('a[class="weblink list-group-item"][href="/profile/profile-my-appointments/"][title="Appointments"][aria-label="Appointments"]').hide(); //hide appointments
            $('a[class="weblink list-group-item"][href="/profile/profile-my-medical-histories/"][title="Medical History"][aria-label="Medical History"]').hide(); //hide medical history
            $('a[class="weblink list-group-item"][href="/guarantors/"][title="Guarantors"][aria-label="Guarantors"]').hide(); //hide guarantors
            $('a[class="weblink list-group-item"][aria-label="Manage My Dependents"]').hide(); //hide dependents weblink
            $('a[href="/dependents/"][role="menuitem"][aria-label="Manage My Dependents"]').hide(); // hide dependents in header dropdown
            $('a[href="/my-appointments/dependents-appointments/"][role="menuitem"]').hide(); // hide dependents appointments in header dropdown
            $('a[title="Appointments"][class="dropdown-toggle"][role="menuitem"]').hide(); // hide appointments in header 
            $('a[href="/pharmacy-orders/"][role="menuitem"]').hide(); // hide appointments in header 
      </script>
    
    {% else %}
    
    
    {% endif %}
      