{% if user | has_role:"Authenticated Users" %}
{% else %}
<style>
  .btn.btn-hero {
    margin-bottom: 50px;
  }
  footer .footer-bottom {
    position: absolute;
    bottom:-25px;
  }
</style>
{% endif %}
<!-- START OF CAROUSEL -->
<div class="container-fluid">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="Homehero.png" alt="First Slide" style="width:100%;">
        <div class="carousel-caption d-none d-md-block">
          <h1>Your Health </h1>
          <h1>is our Priority</h1>
          <p>We are here with you as you go along</p>
          <p>the journey to healthier living</p>
        </div>
      </div>

      <div class="item">
        <img src="Homehero.png" alt="Second Slide" style="width:100%;">
        <div class="carousel-caption d-none d-md-block">
          <h1>Your Health </h1>
          <h1>is our Priority</h1>
          <p>We are here with you as you go along</p>
          <p>the journey to healthier living</p>
        </div>
      </div>

      <div class="item">
        <img src="Homehero.png" alt="Third Slide" style="width:100%;">
        <div class="carousel-caption d-none d-md-block">
          <h1>Your Health </h1>
          <h1>is our Priority</h1>
          <p>We are here with you as you go along</p>
          <p>the journey to healthier living</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <!-- <span class="glyphicon glyphicon-chevron-left"></span> -->
      <i class="bi bi-chevron-compact-left"></i>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <!-- <span class="glyphicon glyphicon-chevron-right"></span> -->
      <i class="bi bi-chevron-compact-right"></i>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<!-- END OF CAROUSEL -->
<div class="header-mobile">
  <h1>Your Health is our Priority</h1>
  <p>We are here with you as you go along the journey to healthier living</p>
</div>
<section class = "header-caption-section">
 <div class = "container">
  <div class="row">
    <div class="page-heading">
      {% block title %}
          {% editable snippets 'MPHHI Header' type: 'HTML' %}
      {% endblock %}
  </div>
    <p class="header-caption text-center">Metro Pacific Hospital Holdings, Inc. is the largest private hospital operator in the Philippines. It has a nationwide portfolio of 18 hospitals, supported by 2 allied health colleges, a growing network of primary care clinics and cancer care centers, and a central clinical laboratory.</p>
  </div>
    <div class="row text-center">
      <div class="col-md-6">
        <button class="btn btn-hero btn-lg" onclick="window.location.href='/new-appointment'">Book an Appointment</button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-hero btn-lg" onclick="window.location.href='/find-a-doctor/'">Find a Doctor</button>
      </div>    
    </div>
 <div>
</section>

{% if user | has_role:"Authenticated Users" %}
<hr>
  <section class = "appointments-section">
    <div class="appointments-entitylists">
      <div class ="container">
      <!-- Start of Appointment Lists -->
        <div class="row">
          <div class="col-md-6">
            {% block main %}
              {% if page.adx_entitylist %}
                <div> 
                  <h3 class="section-title show-bar" style="color: #0f4b90 !important;" >My Upcoming Appointments</h3> 
                  
                  {% include 'entity_list' key: 'My Upcoming Appointments' %}
                </div>
                <hr>
                <br>
                <br>
          </div>
          <div class="col-md-6">
            <div> 
              <h3 class="section-title show-bar" style="color: #0f4b90 !important;" >My Dependents' Upcoming Appointments</h3>              
              {% include 'entity_list' key: 'My Dependents Appointments' %}
            </div>
            <hr>
            <br>
            <br>
          </div>
        </d iv>
          <div class="row">
            <div class="col-md-6">
              <div style="margin-bottom: 20px;"> 
                <h3 class="section-title show-bar" style="color: #0f4b90  !important;" >My Dependents</h3> 
                {% include 'entity_list' key: 'My Dependents' %}
              </div>
              <hr>
              <br>
              <br>
            </div>
            <div class="col-md-6">
              <div style="margin-bottom: 20px;"> 
                <h3 class="section-title show-bar" style="color: #0f4b90 !important;" >Popular Articles</h3> 
                {% include 'entity_list' key: 'Popular Articles' %}
              </div>
              <hr>
              <br>
              <br>
            </div>
              {% endif %}

              {% if page.adx_entityform %}
                  {% entityform id: page.adx_entityform.id %}
              {% endif %}

              {% if page.adx_webform %}
                  {% webform id: page.adx_webform.id %}
              {% endif %}
              {% endblock %}
          </div>
        </div>
      </div> 
    </div>
  </section>
{% endif %}
