<section class="header-section">
  <div class="container-fluid">
    <img class="header-image" src="Homehero.png" alt="home-header">
  </div>
</section>
<section class = "header-caption-section">
 <div class = "container">
  <div class="row">
    <div class="page-heading">
      {% block title %}
          {% editable snippets 'MPHHI Header' type: 'HTML' %}
      {% endblock %}
  </div>
    <h3 class="header-caption text-center">Metro Pacific Hospital Holdings, Inc. is the largest private hospital operator in the Philippines. It has a nationwide portfolio of 18 hospitals, supported by 2 allied health colleges, a growing network of primary care clinics and cancer care centers, and a central clinical laboratory.</h3>
  </div>
  {% if user | has_role:"Authenticated Users" %}
    <div class="row text-center">
      <div class="col-md-6">
        <button class="btn btn-hero btn-lg" onclick="window.location.href='/new-appointment'">Book an Appointment</button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-hero btn-lg" onclick="window.location.href='/find-a-doctor/'">Find a Doctor</button>
      </div>    
    </div>
  {% endif %}
 <div>
</section>
{% if user | has_role:"Authenticated Users" %}
  <section class = "appointments-section">
    <div class="appointments-entitylists">
      <div class ="container">
      <!-- Start of Appointment Lists -->
        <div class="row" style="margin-bottom: 20px; background-color: rgba(255, 255, 255); padding: 20px; border-radius: 5px;" >
          <div class="col-md-6">
            {% block main %}
              {% if page.adx_entitylist %}
                <div style="margin-bottom: 20px;"> 
                  <h3 class="section-title show-bar" style="color: #5BBA47!important;" >My Upcoming Appointments</h3> 
                  <h5 class="section-title show-bar" style="color: #808080;" >List of the patient's upcoming appointments.</h5>
                  {% include 'entity_list' key: 'My Upcoming Appointments' %}
                </div>
                <hr>
                <br>
                <br>
          </div>
          <div class="col-md-6">
            <div style="margin-bottom: 20px;"> 
              <h3 class="section-title show-bar" style="color: #5BBA47!important;" >My Dependent/s Upcoming Appointments</h3> 
              <h5 class="section-title show-bar" style="color: #808080;" >List of all dependent's appointments.</h5> 
              {% include 'entity_list' key: 'My Dependents Appointments' %}
            </div>
            <hr>
            <br>
            <br>
          </div>
        </div>
          <div class="row" style="margin-bottom: 20px; background-color: rgba(255, 255, 255); padding: 20px; border-radius: 5px;" ></div>
            <div class="col-md-6">
              <div style="margin-bottom: 20px;"> 
                <h3 class="section-title show-bar" style="color: #5BBA47 !important;" >My Dependents</h3> 
                <h5 class="section-title show-bar" style="color: #808080;" >List of the patient's dependents upcoming appointments.</h5> 
                {% include 'entity_list' key: 'My Dependents' %}
              </div>
              <hr>
              <br>
              <br>
            </div>
            <div class="col-md-6">
              <div style="margin-bottom: 20px;"> 
                <h3 class="section-title show-bar" style="color: #5BBA47!important;" >Popular Articles</h3> 
                <h5 class="section-title show-bar" style="color: #808080;" >List of popular articles.</h5>
                {% include 'entity_list' key: '"Closed Open Program Enrollments" Entity List' %}
              </div>
              <hr>
              <br>
              <br>
            </div>
              {% endif %}

              {% if page.adx_entityform %}
                  {% entityform id: page.adx_entityform.id %}
              {% endif %}

              {% if page.adx_webform %}
                  {% webform id: page.adx_webform.id %}
              {% endif %}
              {% endblock %}
          </div>
        </div>
      </div> 
    </div>
  </section>
{% endif %}
    